#app {
    font-family: "Questrial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    text-decoration: none !important;
  }
  input{
    padding:8px;
    padding-left: 10px;
  }
  input:focus{
    outline:none;
  }
/* Layout */
.container-dqa{
  max-width: 960px;
  margin: 0px auto;

}
.image-container{
  position: relative;
  flex-shrink: 0; 
  margin-right: 10px;
}
.img-fluid{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small-img{
  max-width: 150px !important;
}
.image-shadow{
  box-shadow: 6px 5px 0px #c5c5c5;
}
.transition-06s{
  transition: 0.6s;
}
.mt-210{
  margin-top: 210px !important;
}
.mb-200{
  margin-bottom: 200px !important;
}
.w-fit{
  width: fit-content;
}

@media (max-width: 970px) {
  .img-fluid{
    max-width: 100%;
    height: auto;    
  }
}
@media (min-width: 1280px){
  .container-dqa{
    min-width: 1250px;
  }
}
.grid-box-2 {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.grid-box-3 {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.grid-box-4 {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.grid-box-3-form {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.grid-box-4-form {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.grid-box-service {
  row-gap: 10px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}
@media (min-width: 840px) {
  .grid-box-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  .grid-box-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .grid-box-4 {
    grid-template-columns: repeat(4,minmax(0,1fr));
  }
  .grid-box-3-form {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .grid-box-4-form {
    grid-template-columns: repeat(4,minmax(0,1fr));
  }
  .grid-box-service {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

/*  */

/* Text-Color & Bg-Color */
.bg-maincolor{
  background-color: #F3CD74 !important;
}
.bg-yellowqe{
  background-color: #F2BF4B !important;
}
/* .bg-main-image{
  position: relative;
  background-image: url(../assets/images/TWA.png);
  background-size: cover;
  background-color: rgba(192,0,0,0.8);
} */

.bg-main-image{
  position: relative;
  animation:animate 60s ease-in-out infinite;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
@keyframes animate{
  0%, 12.5% {
    background-image: url(./images/backgroundslider/1.jpg);
  }
  12.5%, 25%{
    background-image: url(./images/backgroundslider/2.jpg);
  }
  25%, 37.5% {
    background-image: url(./images/backgroundslider/3.jpg);
  }
  37.5%, 50% {
    background-image: url(./images/backgroundslider/4.jpg);
  }
  50%, 62.5% {
    background-image: url(./images/backgroundslider/5.jpg);
  }
  62.5%, 75% {
    background-image: url(./images/backgroundslider/6.jpg);
  }
  75%, 87.5% {
    background-image: url(./images/backgroundslider/7.jpg);
  }
  87.5%, 100% {
    background-image: url(./images/backgroundslider/8.jpg);
  }
}

/* Blur warna */
.bg-main-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 0, 0, 0.25); 
  z-index: 1;
}
.bg-main-image > * {
  position: relative;
  z-index: 2;
}
.bg-navy-blue{
  background-color: #102d4b !important;
}
.bg-blue-prusia{
  background-color: #3a6468 !important;
}
.bg-blue-pelagic{
  background-color: #315e83 !important	;
}
.text--white{
  color:#fff !important;
}
.text--maincolor{
  color: #F3CD74 !important;
}
.bg-redqe{
  background-color: #9E1B1B !important;
}
/*  */

/* Border */
.border-2px-white{
  border: 2px solid white;
}
.br-5px{
  border-radius: 5px;
}
.br-8px{
  border-radius: 8px;
}
.br-10px{
  border-radius: 10px;
}
.br-15px{
  border-radius: 15px;
}
.br-20px{
  border-radius: 20px;
}
.br-50percent{
  border-radius: 50%;
}
.border-point-red{
  border: 1px solid white;
  padding: 7px;
  background-color: #B71C1C;
  height: 1px;
  border-radius: 50%;
  align-self: center;
}
/*  */

/* Font size, weight */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}
.fs-11{
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}
.fs-21 {
    font-size: 21px;
}
.fs-22 {
    font-size: 22px;
}
.fs-23 {
    font-size: 23px;
}
.fs-24 {
    font-size: 24px;
}
.fs-25 {
    font-size: 25px;
}
.fs-26 {
    font-size: 26px;
}
.fs-30{
  font-size: 30px;
}
.fs-48{
  font-size: 48px;
}
.fs-80{
  font-size: 80px;
}
.ff-Custom-1{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*  */

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-align-center{
  text-align: center;
}
.text-align-justify{
  text-align: justify;
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.d-flex-col{
  display: flex;
  flex-direction: column;
}

.align-items-center{
  align-items: center;
}
.hide-on-mobile {
  display: block;
}
.show-on-mobile {
  display: none;
}

/* Navbar */
.navbar-dqa{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.6s;
}
.sticky-navbar{
  background-color: #fff !important;
}
.sticky-navbar a{
  color: #41444B !important;
} 
.sticky-navbar .border-2px-white{
  border-color: #41444B ;
}
.sticky-navbar .border-2px-white i{
  color: #41444B !important;
}
/* Home */
.selengkapnya{
  transition:all 200ms;
}
.selengkapnya:hover{
  background-color: #9E1B1B !important;
  color:white;
  transform: translateY(-2rem);
}

/*  */

/* About */
.about-img .image-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-img .image-container span{
  display: block;
  margin-top: 8px;
}
/* swiper */
#gallery .swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#gallery .swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#gallery .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#gallery .swiper-button-prev, #gallery .swiper-button-next {
  color: #F2BF4B  !important;
 
}

#gallery .swiper-button-prev:after, #gallery .swiper-button-next:after {
  font-size: 30px;
}
#gallery .swiper-grid-column > .swiper-wrapper {
flex-direction: row !important;
}
#testimony .swiper-slide{
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 100%;
}
#testimony .swiper-slide img{
  display: block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }
  .container-dqa{
    max-width: 670px;
  }
  #gallery .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  
  #gallery .swiper-slide img {
    display: block;
    width: 100%;
  }
}
/* Form */
.form-container {
  width: 100%;
  max-width: 800px;
  min-width: 624px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
.form-group input, .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.form-row .form-group {
  flex: 1;
  min-width: calc(50% - 15px);
}
.footer .desc{
  width: 33%;
}
@media (max-width: 768px) {
  .form-container {
    min-width: 100%;
    padding: 10px;
  }
  .form-row .form-group {
    min-width: 100%;
  }
  .d-flex.footer{
    flex-direction: column;
  }
  .footer .desc{
    width: 100%;
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
